## Declaring Variables and prinintg

In [4]:
var1 = 2
var2 = 5

In [6]:
var1

2

In [8]:
print( var1 )

2

In [10]:
mystring = 'This is python'
print( mystring )

This is python

In [12]:
print( var1, mystring )

2 This is python

## Operations on variables .. Arithmatic or logical

In [14]:
var1 + var2

7

In [16]:
var1 * var2

10

In [17]:
var1 == 2

True

In [19]:
var1 == var2

False

## Built-in functions

In [21]:
round( 1.234 )

1

In [27]:
# Round upto a number of decimal values
round( 1.234, 2 )

1.23

In [31]:
# Importing a math function
import math

In [32]:
math.ceil( 1.2 )

2

In [33]:
math.floor( 1.2 )

1

In [24]:
abs( -1.2 )

1.2

In [26]:
# Get the variable type
type( var1 )

int

In [34]:
pow( var1 , 2 )

4

In [46]:
## Generate a sequence number
numbers = range( 1, 10 )

In [57]:
type( numbers )

range

In [61]:
for i in numbers: 
     print( i )

1
2
3
4
5
6
7
8
9

In [64]:
len( numbers )

9

In [65]:
for i in numbers: 
     print(i , end = " ")

1 2 3 4 5 6 7 8 9

## Control Flow Statements

In [67]:
if var1 > 1:
    print( "Bigger" )

Hello

In [69]:
if var1 > 5:
    print( "Bigger" )
else:
    print( "Smaller" )

Smaller

In [71]:
x = 10
y = 12
if x > y:
    print ("x>y")
elif x < y:
    print ("x<y")
else:
    print ("x=y")

x<y

In [73]:
for i in range(5):
    print (i)

0
1
2
3
4

In [75]:
i = 1
while i < 5:
    print(i)
    i = i+1
print('Bye')

1
2
Bye

In [77]:
i = 1
while i < 5:
    print(i)
    i = i+1
    if i == 4:
        break
print('Bye')

1
2
3
Bye

In [1]:
i = 1
while i < 5:
    i = i+1    
    if i == 3:
        continue    
    print(i)
print('Bye')

2
4
5
Bye

## Working with Data Structures

## List - Collection of elements... ( Elements can repeat )

In [2]:
## Create an empty list
a = []

In [3]:
fruits = ['apple', 'orange', 'banana', 'papaya']

In [4]:
fruits[1]

'orange'

In [7]:
## Slicing an list
fruits[1:3]

['orange', 'banana']

In [6]:
## Accessing the last element
fruits[-1]

'mango'

In [8]:
# how many elements in the list
len( fruits )

4

In [9]:
seasonal_fruits = ['mango', 'cherry', 'watermelon']

In [10]:
all_fruits = fruits + seasonal_fruits

In [11]:
all_fruits

['apple', 'orange', 'banana', 'mango', 'mango', 'cherry', 'watermelon']

In [12]:
'banana' in all_fruits

True

In [66]:
'grapes' in fruits

False

In [68]:
all_fruits.index( 'banana' )

2

In [14]:
all_fruits.append( 'grapes' )

In [15]:
all_fruits

['apple',
 'orange',
 'banana',
 'mango',
 'mango',
 'cherry',
 'watermelon',
 'grapes']

In [3]:
a = [1,1,2,4,5,6,7]

In [4]:
a

[1, 1, 2, 4, 5, 6, 7]

In [5]:
min( a )

1

In [6]:
max( a )

7

In [7]:
## How many times an element exists in a list
a.count( 1 )

2

In [8]:
a.insert( 3, 3 )

In [9]:
a

[1, 1, 2, 3, 4, 5, 6, 7]

In [10]:
a.reverse()

In [11]:
a

[7, 6, 5, 4, 3, 2, 1, 1]

In [12]:
a.sort()

In [13]:
a

[1, 1, 2, 3, 4, 5, 6, 7]

## Tuples - Immutable List

In [83]:
tup1 = ( 1, 3, 'orange' )

In [84]:
tup1

(1, 3, 'orange')

In [85]:
## It is not allowed t change the tuple elements..
tup1[1] = 'a'

TypeError: 'tuple' object does not support item assignment

In [86]:
tupa = tuple( a )

In [87]:
tupa

(1, 1, 2, 3, 4, 5, 6, 7)

## Set - Order list of non-repeating items

In [34]:
b = set( [6,1,1,2,4,5] )

In [18]:
b

{1, 2, 4, 5, 6}

In [19]:
b.add( 3 )

In [20]:
b

{1, 2, 3, 4, 5, 6}

In [21]:
c = set( [2,4,6,7] )

In [22]:
c.union( b )

{1, 2, 3, 4, 5, 6, 7}

In [23]:
b.intersection( c )

{2, 4, 6}

In [24]:
c.difference( b )

{7}

In [25]:
b.remove( 3 )

In [26]:
b

{1, 2, 4, 5, 6}

In [27]:
b.clear()

In [28]:
b

set()

## Iterating through the elements in list or set

In [29]:
for i in a:
    print( i * 2 )

2
2
4
6
8
10
12
14

In [36]:
for i in b:
    print( i )

1
2
4
5
6

## Using a Dictionary

In [76]:
d0 = {}
d1 = dict( { 'One': 1, 'Two':2 } )
d1

{'One': 1, 'Two': 2}

In [77]:
d0['One'] = 1
d0['OneTwo'] = 12 
print( d0 )

{'OneTwo': 12, 'One': 1}

In [78]:
d0['One']

1

In [79]:
# Join two lists and create an dictionary... 
names = ['One', 'Two', 'Three', 'Four', 'Five']
numbers = [1, 2, 3, 4, 5]

In [80]:
d2 = dict( zip(names,numbers) )

In [81]:
print( d2 )

{'Two': 2, 'Three': 3, 'Five': 5, 'Four': 4, 'One': 1}

In [82]:
d2.keys()

dict_keys(['Two', 'Three', 'Five', 'Four', 'One'])

In [83]:
d2.values()

dict_values([2, 3, 5, 4, 1])

In [84]:
d2['six'] = 6

In [85]:
d2

{'Five': 5, 'Four': 4, 'One': 1, 'Three': 3, 'Two': 2, 'six': 6}

In [86]:
# Remove an element and return it
d2.pop( 'six' )

6

In [88]:
d2

{'Five': 5, 'Four': 4, 'One': 1, 'Three': 3, 'Two': 2}

## Dealing with Strings

In [113]:
string0 = 'python'
string1 = "Data Science"
string2 = '''This is Data science 
        workshop
        using Python'''

In [114]:
print( string0, string1, string2)

python Data Science This is Data science
        workshop
        using Python

In [115]:
string2.find( "Python" )

53

In [116]:
string0.capitalize()

'Python'

In [117]:
string0.upper()

'PYTHON'

In [118]:
len( string2 )

59

In [119]:
string2.split()

['This', 'is', 'Data', 'science', 'workshop', 'using', 'Python']

In [120]:
string2.replace( 'Python', 'R')

'This is Data science \n        workshop\n        using R'

## Functions in Python

In [121]:
def addElements( a, b ):
    return a + b

In [122]:
addElements( 2, 3 )

5

In [123]:
addElements( 2.3, 4.5 )

6.8

In [124]:
addElements( "python", "workshop" )

'pythonworkshop'

In [126]:
def addElements( a, b ):
    return a, b, a + b

In [127]:
addElements( 2, 3 )

(2, 3, 5)

In [128]:
addElements( 2.3, 4.5 )

(2.3, 4.5, 6.8)

In [129]:
x, y, z = addElements( 4, 5 )

In [130]:
x

4

In [131]:
def addElements( a, b = 4 ):
    return a + b

In [132]:
addElements( 2 )

6

In [133]:
addElements( 2, 5 )

7

In [134]:
def add_n(*args):
    sum = 0
    for arg in args:
        sum = sum + arg
    return sum

In [135]:
add_n( 1, 2, 3 )

6

In [136]:
add_n( 1, 2, 3, 4, 5, 6 )

21

In [137]:
add_n()

0

## Lambda Functions in Python

In [138]:
a = lambda x: x * x

In [139]:
a( 2 )

4

In [140]:
a( 2 )  *  a( 2 )

16

In [145]:
mylist = [1,2,3,4,5,6,7,8,9]

In [149]:
xsquare = []

for x in mylist:
    xsquare.append( pow( x, 2 ) )

print( xsquare )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [157]:
xsquare1 = list( map( lambda x: pow( x, 2 ), mylist) )

In [159]:
print( xsquare1 )

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [160]:
mylist1 = [1,2,3,4,5,6,7,8,9]

In [161]:
listprods = list( map( lambda x, y: x * y, mylist, mylist1 ) )

In [162]:
listprods

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [163]:
list( filter( lambda x : x < 5, list1 ) )

[1, 2, 3, 4]

## Classes and Objects

In [209]:
class Student:
    workshop = 'python'
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def describe( self ):
        print( self.name, " is ", self.age, " years old and participating in ", Student.workshop, " class ")
        return

In [210]:
dir( student1 )

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'describe',
 'name',
 'workshop']

In [211]:
student1 = Student( "manaranjan", 39 )

In [212]:
student1.name

'manaranjan'

In [213]:
student1.describe()

manaranjan  is  39  years old and participating in  python  class

In [214]:
Student.workshop = "R"

In [215]:
student1.workshop

'R'